extends layout

block append scripts
	script
		$(document).ready(function() {
			$('.play').click(function(event) {
				$.ajax({
					url: '/json/decks/names',
					dataType: 'json',
					success: function(data, status) {
						console.log(data);
					}
				})
			});
		});

block body_content
	button.play Play