html
	head
		title Abootay
		meta(name="viewport", content="width=device-width, user-scalable=yes")

		include js/lib/jquery
		include js/all
		include css/reset
		include css/all
	body
		block body_content