block precompile
	- bodyClass = ''

html
	head
		title Abootay
		meta(name="viewport", content="width=device-width, user-scalable=yes")

		block scripts
			include js/lib/underscore
			include js/lib/jquery
			include js/lib/async
			include js/lib/jade
			include js/abootay
			include css/reset
			include css/all

	body(class=bodyClass)
		article
			block body_content