@primary-blue: #00EFFC;
@secondary-blue: #11FFFB;
@green: #B2FF55;
@yellow: #FFFA7C;
@red: #FF795F;

@white: #E6FEFF;
@gray: #D1CCBC;
@black: #21282A;

.center-block() { margin-left: auto; margin-right: auto; }
.adaptive-width(@max-pixel-width, @max-percentage-width:92%) { width: @max-percentage-width; max-width: @max-pixel-width; }
.border-radius(@radius) { -webkit-border-radius: @radius; -moz-border-radius: @radius; border-radius: @radius; }
.box-shadow(@params) { -webkit-box-shadow: @params; -moz-box-shadow: @params; box-shadow: @params; }
.text-shadow(@params) { -webkit-text-shadow: @params; -moz-box-text-shadow: @params; text-shadow: @params; }

.title-text { font-size: 36px; }
.green-button() { .box-shadow(1px 1px 2px @black); background: @green; color: @black; border-width: 0; cursor: pointer; font-size: 16px; padding: 6px 12px; text-decoration: none;
	&:hover { .box-shadow(inset 1px 1px 2px @black); background: darken(@green, 20%); }
}
.menu-item() { .green-button(); display: block; font-size: 22px; padding: 6px 0; text-align: center; width: 100%; }


body { background: @white; color: @black; font-family: Helvetica, Arial, sans-serif; font-size: 20px; }

h1 { .title-text(); .text-shadow(@black 1px 1px 2px); margin: 0 0 12px; }
article { .center-block(); .adaptive-width(320px); .border-radius(12px); background: #fff; padding: 22px; margin-top: 22px; }
.game-container {
	button { .menu-item(); }
}
.card { text-align: center;
	.phrase { .text-shadow(@black 1px 1px 2px); border-bottom: 2px solid @black; font-size: 36px; padding-bottom: 12px; }
	.notes { margin: 12px; }
	.note { font-size: 22px; padding: 6px; }
}
body.homepage {
	.button { .menu-item(); }
}
body.decks {
	a { .menu-item(); }
	.create-deck-form { background: @yellow; padding: 16px; }
	.deck-name {
		input { .adaptive-width(320px, 100%); font-size: 20px; display: block; line-height: 1.2em; }
	}
	.submit { margin-top: 12px; text-align: center; 
		input { .box-shadow(1px 1px 2px @black); background: @secondary-blue; color: @black; border-width: 0; cursor: pointer; font-size: 16px; padding: 6px 12px; text-decoration: none;
			&:hover { .box-shadow(inset 1px 1px 2px @black); background: darken(@secondary-blue, 20%); }
		}
	}
	.decks { margin: 22px 0;}
}