extends ../layout

block append precompile
	- bodyClass.push('play-deck')

block body_content
	.game-container Just a Minute...
	script
		// Kind of a hack. I want the backbone router handler to trigger.
		Backbone.history.stop();
		Backbone.history.start({pushState: true, silent:false});