form.create-card-form(action=path.to.api.addCardToDeck(deck), method='post')
	.phrase
		label Phrase
		input(type='text', name='phrase')
	.submit
		input(type='submit', value='Add')
script
	$('.create-card-form .phrase input').focus()