form.create-card-form(action='/cards/create', method='post')
	input(type='hidden', name='_method', value='put')
	input(type='hidden', name='deck_name', value=deck.name)
	.phrase
		label Phrase
		input(type='text', name='phrase')
	.notes
		label Notes
		textarea(name='notes')
	.submit
		input(type='submit', value='Add')
script
	$('.create-card-form .phrase input').focus()