extends ../layout

block precompile
	- bodyClass = 'deck'

block body_content
	h1= deck.name

	.deck-info #{deck.cards.length} Cards

	.create-form-container
		h3 Add Card
		include ../cards/create-form.jade
