extends layout

block append precompile
	- bodyClass.push('deck')
	- breadcrumbs.push({ title: deck.name, url: path.to.deck(deck) })

block title
	h1= deck.name

block article_content
	.deck-info #{deck.cards.length} Cards

	.create-form-container
		h3 Add Card
		include ../cards/create-form.jade
