script(src="/js/abootay.js", type="text/javascript")
script(src="/js/path.js", type="text/javascript")
script(src="/js/data.js", type="text/javascript")
script(src="/js/GameRouter.js", type="text/javascript")
script(src="/js/models/App.js", type="text/javascript")
script(src="/js/models/User.js", type="text/javascript")
script(src="/js/models/Timer.js", type="text/javascript")
script(src="/js/models/Game.js", type="text/javascript")
script(src="/js/models/Deck.js", type="text/javascript")
script(src="/js/views/AppView.js", type="text/javascript")
script(src="/js/views/GameView.js", type="text/javascript")
script(src="/js/views/StartGameView.js", type="text/javascript")
script(src="/js/views/CardView.js", type="text/javascript")
script(src="/js/views/TimerView.js", type="text/javascript")
script(src="/js/views/TurnSummaryView.js", type="text/javascript")
script(src="/js/renderers/game/start-menu.js", type="text/javascript")
script(src="/js/renderers/cards/card.js", type="text/javascript")
script(src="/js/renderers/game/start-game.js", type="text/javascript")
script(src="/js/renderers/game/choose-deck.js", type="text/javascript")
script(src="/js/renderers/game/show-card.js", type="text/javascript")
script(src="/js/renderers/game/turn-summary.js", type="text/javascript")
//- script(src="/js/renderers/game/start-turn.js", type="text/javascript")
script(src="/js/metrics/google-analytics.js", type="text/javascript")